{
  "presets": [
    "react",
    "stage-2",
    "env"
  ],
  "plugins": [
    "babel-polyfill",
    "transform-regenerator",
    "styled-jsx/babel",
    "syntax-dynamic-import",
    "transform-class-properties",
    [
      "import-inspector",
      {
        "serverSideRequirePath": true
      }
    ]
  ]
}