.paintingContainer {
  max-width: 1000px;
  margin: 0px auto;
  padding-top: 50px;
}

.paintingPageText {
  padding: 60px;
}

.paintingPageTitle {
  margin: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  text-align: center;
}

// .productsContainer {
//   display: flex;
//   justify-content: space-around;
//   max-width: 1000px;
//   margin: 0px auto;
//   flex-wrap: wrap;
// }

// @media only screen and (max-width: 799px) {
//   .productsContainer {
//     flex-direction: column;
//   }
// }

// // painting Products //
// .paintingProduct {
//   position: relative;
//   width: 45%;
//   margin-top: 20px;
//   margin-bottom: 20px;
//   padding: 20px;
//   border: 2px solid #dbdbdb;
//   border-radius: 5px;
//   box-sizing: border-box;
//   box-shadow: 5px 5px 8px #dbdbdb;
// }

// .productTitle {
//   text-align: center;
//   font-family: Poppins, sans-serif;
// }

// .productText {
//   display: block;
//   min-height: 100px;
//   margin-bottom: 60px;
//   font-family: Poppins, sans-serif;
//   font-size: 14px;
// }

// .productImage {
//   display: block;
//   height: 220px;
//   width: 220px;
//   margin: 20px auto;
// }

// .productPrice {
//   float: right;
//   margin: 0px;
//   padding-top: 8px;
//   padding-right: 15px;
//   font-family: Poppins, sans-serif;
//   font-weight: 700;
//   font-size: 16px;
// }

// .snipcart-add-item {
//   float: right;
//   padding: 10px;
//   border: transparent;
//   border-radius: 5px;
//   background-color: #196d00;
//   color: white;
//   font-family: Poppins, sans-serif;
//   transition: 0.15s;
//   cursor: pointer;
// }

// .snipcart-add-item:hover {
//   background-color: #1e8400;
// }

// .addCartPriceContainer {
//   position: absolute;
//   bottom: 10px;
//   right: 15px;
// }

@media only screen and (max-width: 799px) {
  .paintingPageText {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  // .paintingProduct {
  //   width: 100%;
  //   padding: 10px;
  //   box-sizing: border-box;
  // }

  // .addCartPriceContainer {
  //   display: none;
  // }
}